@keyframes fade-right {
    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes marginTop {
    to {
        top: -50px;
    }
}

@keyframes opas {
    to {
        opacity: 1;
    }
}

@keyframes welcomeBlock {
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes header {
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

@keyframes fadeUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeV2 {
    to {
        opacity: .2;
    }
}

@keyframes border {
    to {
        border-top: 1px solid #fff;
    }
}

@keyframes slide {
    to {
        transform: translateX(0);
    }
}

@keyframes spinLeft {
    from {
        transform: rotate(90deg);
        right: -50%;
        transform-origin: 50% 75%;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinRight {
    from {
        transform: rotate(90deg);
        right: 50%;
        transform-origin: 50% 75%;
    }
    to {
        opacity: 1;
    }
}