@import "./fonts.css";
@import "./animation.css";

:root {
    --h1-font-family: 'Benzin ExtraBold', sans-serif;
    --h1-font-size: clamp(1.875rem, 0.966rem + 4.55vw, 4.375rem);
    --h2-font-family: 'Benzin ExtraBold', sans-serif;
    --h2-font-size: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
    --subtitte-fimaly: 'Jura', sans-serif;
    --subtitte-size: 30px;
    --text-family: 'Jura', sans-serif;
    --text-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
    --background: #000;
    --background-second: #1e1e1e;
    --background-third: #2a2a2a;
    --text-color: #fff;
    --shadow-color: #EBB52619;
    --accent-color: #EBB526;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: none;
}

body {
    overflow: hidden;
    background: var(--background);

    display: flex;
    flex-direction: column;
}

.page__wrapper {
    flex: 1;
    /*scroll-snap-type: y mandatory;*/
    /*width: 100%;*/
    /*height: 100svh;*/
    /*overflow-y: auto;*/
    /*scroll-padding-block-end: 100px;*/
}

/*.page__wrapper section {*/
/*    !*scroll-snap-align: start;*!*/
/*}*/
.page__wrapper.slider-locked {
    overflow: hidden;
}

.container {
    width: min(96%, 1800px);
    margin: 0 auto;
}

.h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    color: var(--text-color);
    font-weight: bold;
    text-wrap: balance;
    line-height: 120%;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-family);
    font-size: var(--text-size);
}

.btn {
    background: var(--accent-color);
    padding: clamp(0.531rem, 0.384rem + 0.74vw, 0.938rem) clamp(1.75rem, 0.114rem + 8.18vw, 6.25rem);
    display: block;
    width: max-content;
    color: var(--background);
    line-height: normal;
    text-transform: none;
    outline: none;
    border: none;
    font-family: var(--text-family);
    font-size: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
    text-wrap: nowrap;
}

video, .bg {
    position: absolute;
    width: 100%;
    height: 100svh;
    object-fit: cover;
    filter: grayscale(100%) contrast(200%);
    opacity: .4;
}

ul {
    list-style: none
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    transition: all .4s linear;
    opacity: 0;
    z-index: 1;
    /*scroll-snap-align: start;*/

    & .logo {
        width: 77px;
        height: 42px;
    }

    & nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
    }
}

header.active {
    animation: header .4s ease-in-out 1.5s forwards;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*height: calc(100svh - 62px);*/
    height: 100svh;
    position: relative;
    /*background: url("../videos/background.mp4");*/
    scroll-snap-align: start;

    & .h1 {
        transform: translate(-50%);
        opacity: 0;
        transition: all .4s linear;
        animation-delay: 1s;
    }

    & .h1.active {
        animation: welcomeBlock .4s ease-in-out 1.6s forwards;

        & .btn {
            animation: opas .4s ease-in-out 2s forwards;
        }
    }

    & span {
        color: var(--text-color);
        font-family: var(--text-family);
        font-size: var(--text-size);
        width: clamp(17.75rem, 7.159rem + 52.95vw, 46.875rem);
        text-wrap: balance;
        line-height: normal;
        display: block;
        text-transform: none;
        font-weight: 300;
        margin-top: 15px;
    }

    & .h1:before {
        content: "{";
        position: absolute;
        right: 0%;
        top: 22%;
        font-size: clamp(2.625rem, 1.534rem + 5.45vw, 5.625rem);
    }

    & .h1:after {
        content: "}";
        position: absolute;
        left: 0;
        bottom: 9%;
        font-size: clamp(2.625rem, 1.534rem + 5.45vw, 5.625rem);
    }

    & .btn {
        float: right;
        margin-top: clamp(5.625rem, 5.352rem + 1.36vw, 6.375rem);
        animation-delay: 1.5s;
        opacity: 0;
    }
}

.serves_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(96%, 1500px);
    min-height: 100svh;

    & .code_title.active {
        animation: fadeUp .8s ease-in-out forwards;
        transform: translateY(100%);
        opacity: 0;
    }

    & .serves_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
        margin-bottom: clamp(5rem, 3.409rem + 7.95vw, 9.375rem);
        grid-gap: 20px;
        opacity: 0;

        & .serves_item {
            color: var(--text-color);
            font-family: var(--text-family);
            font-size: var(--text-size);
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--background-second);
            padding: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
            height: clamp(5.375rem, 3.557rem + 9.09vw, 10.375rem);
            text-wrap: balance;
            border-top: 1px solid #ffffff00;
            transition: background .3s ease-in-out;
            cursor: default;
        }
        & .serves_item:hover {
            background: none;
            color: var(--accent-color);
            border-top: 1px solid var(--accent-color);
        }
    }

    & .serves_content.active {
        animation: fadeUp .8s ease-in-out forwards;
        transform: translateY(100%);
    }

    & .btn {
        margin: 0 auto;
        opacity: 0;
    }

    & .btn.active {
        animation: fadeUp .8s ease-in-out .6s forwards;
        transform: translateY(100%);
    }
}

.code_title {
    color: var(--text-color);
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
    width: max-content;
    text-transform: uppercase;
    position: relative;

    & span {
        font-size: var(--text-size);
        font-family: var(--text-family);
        color: var(--text-color);
        display: block;
        text-wrap: balance;
        width: 200px;
        margin-left: 20px;
        min-height: 35px;
        text-transform: none;
    }
}

.code_title:before {
    content: "{";
    position: absolute;
    right: -25px;
    font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    top: -5px;
}

.code_title:after {
    content: "}";
    position: absolute;
    left: 0;
    bottom: -40px;
    font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
}

.industry_block {
    width: min(96%, 1400px);
    position: relative;
    min-height: 100svh;

    & .code_title {
        float: right;

        & span {
            width: max(100%, 102px);
        }
    }

    & .industry_items {
        padding-top: 115px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 890px;
        grid-column-gap: 107px;
        grid-row-gap: 90px;

        & .industry_item {
            display: flex;
            flex-direction: column;
            gap: 30px;

            & h2 {
                font-family: var(--text-family);
                font-size: var(--h2-font-size);
                color: var(--text-color);
                margin-bottom: 12px;
            }

            & ul {
                height: 215px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: var(--text-color);
                font-family: var(--text-family);
                transition: .3s linear;

                & li {
                    margin-left: 15px;
                    position: relative;
                    font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);

                }

                & li:before {
                    position: absolute;
                    z-index: 9999;
                    left: -18px;
                    top: 50%;
                    transform: translateY(-25%);
                    content: '*';
                    color: #EBB526;
                    font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
                    line-height: 50%;
                }
            }

            & ul.active {
                height: 100%;
            }

            & .btn {
                padding: clamp(0.375rem, 0.057rem + 1.59vw, 1.25rem) clamp(0.813rem, 0.653rem + 0.8vw, 1.25rem);
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
}

.industry_block:before,
.industry_block:after {
    content: '';
    background: url("../images/Subtract.svg");
    width: 360px;
    height: 310px;
    position: absolute;
    z-index: -1;
    right: 25px;
    top: 30%;
    /*animation: spin 2s linear infinite forwards;*/
    transform-origin: 50% 75%;
    opacity: 0;
}

.industry_block:after {
    top: 50%;
    right: -11%;
    transform: rotate(180deg);
}

.industry_block.active:before {
    animation: spinLeft .8s ease-in-out .3s forwards;
}

.industry_block.active:after {
    animation: spinRight .8s ease-in-out .3s forwards;
}

.state_block {
    background: var(--background-second);
    height: min(100%, 100svh);
    width: 100%;
    border-radius: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
    margin-top: 100px;
    box-shadow: 0 clamp(-0.625rem, -0.739rem + 0.57vw, -0.313rem) 8px 0 rgba(235, 181, 38, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: clamp(0rem, -2.227rem + 11.14vw, 6.125rem) clamp(0rem, -0.614rem + 3.07vw, 1.688rem);
    position: relative;
    z-index: 1;
    opacity: 0;

    & .code_title {
        margin-left: clamp(0rem, -4.159rem + 20.8vw, 11.438rem);
        margin-bottom: 67px;
    }

    & .code_title.active {
        animation: fade .4s ease-in-out forwards;
        transform: translateX(50%);
        opacity: 0;
    }

    & .stage_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & .stage_item {
            padding: 20px;
            display: grid;
            grid-template-areas: 'num title''num desc';
            align-items: start;
            grid-row-gap: clamp(0.313rem, -0.089rem + 1.79vw, 1.25rem);
            grid-column-gap: clamp(0.625rem, 0.357rem + 1.19vw, 1.25rem);
            color: var(--text-color);
            font-family: var(--text-family);
            border-top: 1px solid var(--text-color);

            & p {
                grid-area: num;
                font-size: clamp(5rem, 1.786rem + 14.29vw, 12.5rem);
                font-weight: bold;
                color: var(--accent-color);
            }

            & h3 {
                margin-top: auto;
                font-size: var(--h2-font-size);
            }

            & span {
                font-size: clamp(0.75rem, 0.536rem + 0.95vw, 1.25rem);
            }
        }

        & .item1.active {
            transform: translateX(100%);
            opacity: 0;
            animation: fade .8s ease-in-out 1s forwards;
        }

        & .item2.active {
            transform: translateX(100%);
            opacity: 0;
            animation: fade .8s ease-in-out 2s forwards;
        }

        & .item3.active {
            transform: translateX(100%);
            opacity: 0;
            animation: fade .8s ease-in-out 3s forwards;
        }

        & .item4.active {
            transform: translateX(100%);
            opacity: 0;
            animation: fade .8s ease-in-out 4s forwards;
        }

        & .item5.active {
            transform: translateX(100%);
            opacity: 0;
            animation: fade .8s ease-in-out 5s forwards;
        }

        & .btn {
            width: max-content;
            height: max-content;
            justify-self: center;
            align-self: center;
        }

        & .btn.active {
            opacity: 0;
            animation: fade .8s ease-in-out 6s forwards;
        }
    }
}

.state_block.active {
    animation: fade .8s ease-in-out forwards;
    transform: translateX(100%);
}

.technologies_block {
    background: var(--background-third);
    min-height: calc(100svh + 50px);
    /*width: 100%;*/
    /*margin-top: -50px;*/
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
    font-family: var(--text-size);

    & .container {
        width: min(96%, 1438px);
    }

    & .code {
        position: absolute;
        right: .3%;
        bottom: 4%;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: var(--accent-color);
        opacity: .1;
        font-size: 40px;
    }

    & .code_title {
        margin-left: auto;

        & span {
            width: clamp(10rem, 5.714rem + 19.05vw, 20rem);
        }
    }

    & .technologies_items {
        margin-top: 43px;
        font-family: var(--text-family);
        font-size: var(--h2-font-size);
        color: var(--text-color);

        & ul {
            display: flex;
            flex-direction: column;
            gap: clamp(1.25rem, 0.446rem + 3.57vw, 3.125rem);

            & li {
                position: relative;
                width: min(100%, 235px);
            }

            & li:before {
                position: absolute;
                z-index: 9999;
                left: -18px;
                top: 50%;
                transform: translateY(-25%);
                content: '*';
                color: #EBB526;
                font-size: clamp(1.875rem, 1.607rem + 1.19vw, 2.5rem);
                line-height: 50%;
            }

            & ul {
                margin-left: 720px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: relative;

                & li:before {
                    position: absolute;
                    z-index: 9999;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: '•';
                    color: var(--text-color);
                    font-size: clamp(0.75rem, 0.536rem + 0.95vw, 1.25rem);
                    line-height: 50%;
                }
            }

            & ul:after {
                content: "}";
                margin-left: -15px;
            }
        }
    }
}

.technologies_block:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: var(--background-third);
    top: 0;
}

.technologies_block.active:before {
    animation: marginTop .4s ease-in-out forwards;
}


.building_block {
    background: var(--background-second);
    margin-top: -50px;
    border-radius: 50px;
    z-index: 9999;
    position: relative;
    padding: clamp(3.125rem, 1.705rem + 6.31vw, 6.438rem) clamp(0.938rem, -2.036rem + 13.21vw, 7.875rem) clamp(3.125rem, -0.143rem + 14.52vw, 10.75rem);
    display: flex;
    flex-direction: column;
    gap: clamp(3.125rem, 1.839rem + 5.71vw, 6.125rem);

    & .code_title {
        font-family: var(--h1-font-family);
        font-size: var(--h1-font-size);
        text-transform: uppercase;
        color: var(--text-color);
        display: none;
        opacity: 0;
        transform: translateX(100%);

        & span {
            margin-left: 0;
            font-size: clamp(0.625rem, 0.357rem + 1.19vw, 1.25rem);
            display: flex;
            position: relative;
            justify-content: flex-start;
            align-items: center;
            gap: clamp(1.875rem, 8.33vw, 6.25rem);
        }

        & .hint:after {
            content: '';
            width: 103px;
            height: 6px;
            background: url("../images/arrow_right.svg");
            position: absolute;
            top: 25%;
            right: -25px;
        }

        & .title_final span:not(:last-child):after {
            content: '';
            width: clamp(1.563rem, 0.813rem + 3.33vw, 3.313rem);
            height: 6px;
            background: url("../images/arrow_right_mini.svg");
            position: absolute;
            top: 50%;
            right: -4.688rem;
            transform: translateY(-50%);
        }
    }

    & .code_title {
        width: 96%;
        text-wrap: balance;
    }
    & .code_title.active {
        animation: fade .8s ease-in-out forwards;
    }

    & .code_title:before {
        content: "{";
        position: absolute;
        right: -64px;
        font-size: clamp(1.875rem, 0.268rem + 7.14vw, 5.625rem);
        top: 35%;
    }

    & .code_title:after {
        content: "}";
        position: absolute;
        left: 0;
        bottom: -118px;
        font-size: clamp(1.875rem, 0.268rem + 7.14vw, 5.625rem);
    }

    & .build_active_title {
        display: block;
    }

    & .building_items {
        display: none;
        gap: clamp(1.25rem, 0.714rem + 2.38vw, 2.5rem);
        width: 100%;
        align-items: flex-start;
        margin-top: 50px;
        opacity: 0;
        transform: translateX(100%);
        flex-wrap: wrap;

        & .building_item {
            padding: clamp(1.625rem, 1.518rem + 0.48vw, 1.875rem) clamp(1.469rem, 0.759rem + 3.15vw, 3.125rem);
            background: var(--background-third);
            font-family: var(--text-family);
            font-size: var(--text-size);
            display: flex;
            justify-content: center;
            align-items: center;
            width: clamp(9.375rem, 5.384rem + 17.74vw, 18.688rem);
            height: clamp(5.375rem, 4.196rem + 5.24vw, 8.125rem);
            color: var(--text-color);
            border-top: 1px solid #00000000;
            transition: background .3s ease-in-out;
        }

        & .building_item:hover {
            cursor: pointer;
            background: none;
            color: var(--accent-color);
            border-top: 1px solid var(--accent-color);
        }
    }

    & .building_items.active {
        animation: fade .8s ease-in-out forwards;
    }

    & .build_active_item {
        display: flex;
    }

    & .final form {
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: clamp(1.25rem, 0.179rem + 4.76vw, 3.75rem);
        flex-wrap: wrap;

        & label {
            width: min(100%, 294px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: var(--text-family);
            font-size: var(--text-size);
            color: var(--text-color);

            & input, & textarea {
                font-family: var(--text-family);
                background: none;
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                font-size: var(--text-size);
                color: var(--text-color);
                padding: 0 2px;
            }

            & textarea {
                width: clamp(20.938rem, -3.491rem + 108.57vw, 77.938rem);
                resize: none;
            }

        }

        & .file {
            display: grid;
            grid-template-columns: max-content auto;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            cursor: pointer;

            & img {
                fill: var(--accent-color);
                grid-area: 1 / 1 / 3 / 2;
                width: clamp(2.063rem, 1.179rem + 3.93vw, 4.125rem);
                aspect-ratio: 1;
            }

            & .file_title {
                color: var(--accent-color);
            }

            & .file_desc {
                color: rgba(255, 255, 255, 0.2);
            }
        }

        & .btn {
            display: flex;
            justify-content: center;
            align-self: center;
            height: max-content;
            cursor: pointer;
            font-size: var(--text-size);
        }
    }
}

.contact_block {
    padding-top: clamp(2.5rem, 0.464rem + 9.05vw, 7.25rem);

    & .container {
        width: min(96%, 1438px);
        position: relative;
        padding-bottom: clamp(13.75rem, 13.08rem + 2.98vw, 15.313rem);

        & .code {
            position: absolute;
            bottom: 0;
            left: 50%;
            line-height: 110%;
            font-size: var(--h2-font-size);
            font-family: var(--text-family);
            color: var(--accent-color);
            opacity: 0;
        }

        & .code.active {
            animation: fadeV2 .8s ease-in-out forwards;
        }

        & .contact_items {
            margin-top: clamp(3.125rem, -0.357rem + 15.48vw, 11.25rem);
            display: flex;
            flex-direction: column;

            & .contact_item {
                width: clamp(14.875rem, 11.714rem + 14.05vw, 22.25rem);
                padding: clamp(1.25rem, 0.982rem + 1.19vw, 1.875rem);
                overflow: hidden;

                & h4 {
                    color: var(--text-color);
                    font-family: var(--text-family);
                    font-size: var(--text-size);
                    transform: translateX(-100%);
                }

                & a {
                    transform: translateX(-100%);
                    display: block;
                    font-size: clamp(0.938rem, 0.804rem + 0.6vw, 1.25rem);
                }

                & h4.active,
                & a.active {
                    animation: slide .4s ease-in-out 1s forwards;
                }
            }

            & .contact_item.active {
                animation: border .8s ease-in-out 1s forwards;
                border-top: 1px solid rgba(255, 255, 255, 0);
            }
        }

    }
}